@font-face {
  font-family: "Nevis";
  font-style: normal;
  font-weight: normal;
  src: url("./Nevis.ttf");
}

:root {
  --orange: #ff9100;
  --white: #ffffff;
  --text-black: #000000;
  --text-white: #dcddde;
  --link: #32c5ff;
  --link-darker: #2591bb;
  --dark: #2c2f33;
  --darker: #23272a;

  --intensity-5: #35ff35;
  --intensity-4: #b8ff35;
  --intensity-3: #fffc35;
  --intensity-2: #ffa135;
  --intensity-1: #ff5335;
}

body {
  background-color: var(--dark);
  color: var(--text-black);
  font-family: "Nevis";
}

a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  color: var(--link-darker);
}

#aboutcard {
  display: block;
  box-sizing: border-box;
  background-color: var(--orange);
  box-shadow: 10px 10px 0px 0px var(--white);
  width: 60vw;
  height: 60vh;
  border-radius: 20px;
  margin: 20vh auto 20vh auto;
  text-align: center;
  padding-top: 6px;
  position: relative;
}
.aboutcard-title {
  display: block;
  font-size: 40px;
}
.aboutcard-subtitle {
  display: block;
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.aboutcard-lang {
  width: 28vw;
  text-align: left;
  background-color: var(--darker);
  color: var(--text-white);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 5px 5px 0px 0px var(--white);
  margin: 1vw;
}
.aboutcard-lang img {
  width: 1em;
  height: 1em;
  vertical-align: top;
  margin-right: -0.15em;
}
.aboutcard-lang [id^="proj-"] {
  color: #7289da;
  cursor: pointer;
}
.aboutcard-lang [id^="proj-"]:hover {
  color: #5b75d4;
}
.aboutcard-links {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 20px;
  cursor: default;
}
.aboutcard-links * {
  cursor: pointer;
  margin-left: 2px;
  display: inline-block;
}

[lang-quality="5"] {
  color: var(--intensity-5);
}
[lang-quality="4"] {
  color: var(--intensity-4);
}
[lang-quality="3"] {
  color: var(--intensity-3);
}
[lang-quality="2"] {
  color: var(--intensity-2);
}
[lang-quality="1"] {
  color: var(--intensity-1);
}
