.cards {
  box-sizing: border-box;
}

.user-card {
  width: 25vw;
  height: 15vw;
  display: inline-block;
  margin: 6px;
  background-color: var(--darker);
  color: var(--text-white);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 5px 5px 0px 0px var(--white);
  display: inline-flex;
  flex-direction: column;
}

.user-card-title {
  font-size: 22px;
  display: inline-block;
  margin-bottom: -2px;
}
.user-card-subtitle {
  font-size: 12px;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 4px;
}
.user-card-aliases {
  font-size: 12px;
  width: fit-content;
  margin-bottom: 4px;
}
.user-card-subtitle-discrim {
  font-size: 10px;
  opacity: 0.8;
}
.user-card-avatar {
  border-radius: 50%;
  height: 1em;
  vertical-align: text-top;
  margin-right: 4px;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.user-card-description {
  padding-left: 10px;
  position: relative;
}
.user-card-description:before {
  content: "";
  height: 100%;
  width: 4px;
  border-radius: 4px;
  background: var(--orange);
  display: block;
  position: absolute;
  left: 0;
}

.user-card-badges {
  display: inline-block;
}
.user-card-badge {
  display: inline-block;
  height: 1em;
  vertical-align: top;
  margin-left: 4px;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.user-card-interests {
  font-size: 12px;
  margin-bottom: 2px;
}
.user-card-interest {
  display: inline;
  margin-right: 4px;
  cursor: default;
}
.user-card-interest img {
  height: 1em;
  vertical-align: text-top;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

@media only screen and (max-device-width: 800px) {
  .user-card {
    width: auto;
    height: auto;
  }
}

.tippy-box[data-theme~="success"] {
  background-color: #28a745;
  color: var(--text-white);
}
.tippy-box[data-theme~="success"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #28a745;
}
.tippy-box[data-theme~="success"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: #28a745;
}
.tippy-box[data-theme~="success"][data-placement^="left"] > .tippy-arrow::before {
  border-left-color: #28a745;
}
.tippy-box[data-theme~="success"][data-placement^="right"] > .tippy-arrow::before {
  border-right-color: #28a745;
}
